<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/accueil.css">
    <title>Accueil</title>
</head>
<body>
    <div class="menu">
        <img src="../static/images/wine.jpeg" alt="Logo" class="logo">
        <ul>
            <li><a href="{{ url_for('cave') }}">Cave(s)</a></li> <!-- c'est ici que on listera toutes les caves et toutes les bouteilles avec user. Sous forme de tableau si utilisateur admin est co -->
            <li><a href="{{ url_for('etagere') }}">Etagère(s)</a></li>
            <li><a href="{{ url_for('bouteille') }}">Bouteille(s)</a></li>   
        </ul>
    </div>
    
    <div class="content-wrapper">
        <div class="logout-column">
            {% if 'username' in session %}
                <a href="/logout" class="logout-button">Déconnexion</a>
            {% endif %}
        </div>
        <div id="section1" class="section">
            <div class="content section1-content">
                <!-- Colonnes -->
                <div class="user-info">
                    {% if 'username' in session %}
                        <h1>Bonjour, {{ session['username'] }} !</h1>  <!-- Utilisation de session pour le nom d'utilisateur -->
                        <p>Nombre d'étagères : {{ user_info.num_shelves }}</p> <!-- Assurez-vous que user_info est défini dans votre route -->
                        <p>Nombre total de bouteilles : {{ user_info.bottles_count }}</p> <!-- Assurez-vous que user_info est défini -->
                        <p>Nombre de caves : {{ user_info.num_caves }}</p> <!-- Assurez-vous que user_info est défini -->
                    {% else %}
                        <form action="/login" method="POST">
                            <div>
                                <input type="text" placeholder="Nom d'utilisateur" name="username" required>
                            </div>
                            <br>
                            <div>
                                <input type="password" placeholder="Mot de passe" name="password" required>
                            </div>
                            <br>
                            <div>
                                <input type="submit" value="Se connecter">
                            </div>
                            <br>
                        </form>
                        <a href="/signup" id="inscrire_boutton">INSCRIPTION</a>
                    {% endif %}
                </div>
                <div class="presentation">
                    
                    <h2>Bienvenue sur Wine <img src="../static/images/vin_gif.gif" alt="Logo" class="logo"></h2>
                    <p>
                        Explorez le monde du vin avec Wine, votre plateforme idéale pour gérer vos caves à vin. Que vous soyez passionné ou novice, profitez d'une interface intuitive pour créer, organiser et découvrir vos vins favoris tout en bénéficiant de recommandations personnalisées. Inscrivez-vous dès maintenant et plongez dans l'univers fascinant du vin !
                    </p>
                </div>
                
            </div>
        </div>

        <div id="section2" class="section video-section">
            <!-- Contenu de la section 2 -->
            <div class="image-slider">
                <div class="image-container">
                    <img src="../static/images/wine7.jpeg" alt="Image 1">
                </div>
                <div class="image-container">
                    <img src="../static/images/wine1.jpeg" alt="Image 2">
                </div>
                <!-- Ajoutez les autres images ici -->
                <div class="image-container">
                    <img src="../static/images/wine2.jpeg" alt="Image 3">
                </div>
                <div class="image-container">
                    <img src="../static/images/wine3.jpeg" alt="Image 4">
                </div>
                <div class="image-container">
                    <img src="../static/images/wine4.jpeg" alt="Image 5">
                </div>
                <div class="image-container">
                    <img src="../static/images/wine5.jpeg" alt="Image 6">
                </div>
                <!-- Ajoutez les autres images ici -->
            </div>
        </div>

        <div id="section3" class="section">
            <h1>Section commentaires & Export :</h1>
            <ul>
                {% if commentaires %}
                    {% for commentaire in commentaires %}
                        <li style="font-size: 1.5em;">Bouteille : <strong>{{ commentaire[0] }}</strong> => {{ commentaire[1] }}</li><br>
                    {% endfor %}
                {% else %}
                    <li style="font-size: 1.5em;">Aucun commentaire disponible pour le moment.</li>
                {% endif %}
            </ul>

            <!-- Bouton export JSON -->
            <form action="/export_json" method="get">
                <button type="submit" class="button-export">Exporter les caves en JSON</button>
            </form>            
            

        </div>

    </div>

</body>
</html>

