<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css') }}">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cave.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/etagere.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bouteille.css') }}">
</head>
<body>
    
    <div class="menu">
        <img src="{{ url_for('static', filename='images/wine.jpeg') }}" alt="Logo" class="logo">
        <ul>
            <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
            <li><a href="{{ url_for('cave') }}">Cave(s)</a></li> <!-- c'est ici que on listera toutes les caves et toutes les bouteilles avec user. Sous forme de tableau si utilisateur admin est co -->
            <li><a href="{{ url_for('etagere') }}">Etagère(s)</a></li>
            <li><a href="{{ url_for('bouteille') }}">Bouteille(s)</a></li> 
        </ul>
    </div>

    <div class="content-wrapper">
        <div class="logout-column">
            {% if 'username' in session %}
                <a href="/logout" class="logout-button">Déconnexion</a>
            {% endif %}
        </div>
        <div id="section1" class="section">
            <div class="content section1-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div id="section2" class="section video-section">
            <div class="image-slider">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/wine7.jpeg') }}" alt="Image 1">
                </div>
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/wine1.jpeg') }}" alt="Image 2">
                </div>
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/wine2.jpeg') }}" alt="Image 3">
                </div>
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/wine3.jpeg') }}" alt="Image 4">
                </div>
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/wine4.jpeg') }}" alt="Image 5">
                </div>
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/wine5.jpeg') }}" alt="Image 6">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
