{% extends 'base.html' %}

{% block content %}
    <h1 class="fixed-title">Création d'Étagère</h1>
    {% if 'username' in session %}
    <div class="shelves-container">
        <div class="create-etagere">
            <h3>Création d'une Étagère</h3>
            <form action="/creer_etagere" method="POST">
                <div>
                    <label for="shelf_name">Nom de l'Étagère :</label>
                    <input type="text" id="shelf_name" name="shelf_name" required>
                </div>
                <div>
                    <label for="cave_id">Cette étagère appartient à la cave :</label>
                    <select id="cave_id" name="cave_id" required>
                        {% for cave in caves %}
                            <option value="{{ cave[0] }}">{{ cave[1] }}</option> 
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="shelf_number">Numéro de l'Étagère :</label>
                    <input type="number" id="shelf_number" name="shelf_number" required>
                </div>
                <div>
                    <label for="region">Région :</label>
                    <input type="text" id="region" name="region" required>
                </div>
                <div>
                    <label for="available_slots">Nombre de Places Disponibles:</label>
                    <input type="number" id="available_slots" name="available_slots" required>
                </div>
                <div>
                    <label for="bottles_per_shelf">Nombre de Bouteilles pour l'Étagère:</label>
                    <input type="number" id="bottles_per_shelf" name="bottles_per_shelf" required>
                </div>
                <div>
                    <button type="submit">Créer Étagère</button>
                </div>
            </form>
        </div>
        <div class="etagere-list">
            <h3>Vos Étagères</h3>
            <ul>
                {% for shelf in etageres %}
                    <li class="etagere-item">
                        <span>(Étagère): {{ shelf[1] }} </span>
                        <span>(Cave): {{ shelf[3] }}</span> <!-- Cela doit afficher le nom de la cave -->
                        <form action="/supprimer_etagere/{{ shelf[0] }}" method="POST">
                            <button type="submit">Supprimer</button>
                        </form>
                    </li>
                {% else %}
                    <li>Aucune étagère trouvée.</li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
    {% else %}
    <p>Vous devez être connecté pour créer une étagère.</p>
    <a href="/login">Se connecter</a>
    {% endif %}
{% endblock %}
